################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Voting.Shared/Voting.Shared.csproj.vspscc
